{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>


  {% for publication in certifications.certname %}
  <div class="item">   
    <div class="publication-conference">{{ publication.title}}</div> 
    <div class="publication-authors">{{ publication.authors }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
